TAURI_SIGNING_PRIVATE_KEY`: String of your private key
TAURI_SIGNING_PRIVATE_KEY_PATH`: Path to your private key file
TAURI_SIGNING_PRIVATE_KEY_PASSWORD`:  Your private key password (optional if key has no password)